<div class="container">
  <div class="row row">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username"
          ngModel name="username" required>
      </div>
      <button class="btn btn-outline-dark" style="margin-bottom: 15px;" type="button">Suggest an Username</button>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email"
          ngModel name="email" required email #emailVal="ngModel">
        <small class="form-text text-muted" *ngIf="!emailVal.valid && emailVal.touched">Please enter a valid email address</small>
      </div>
      <div class="form-group">
        <label for="secret">Secret question</label>
        <select id="secret" class="form-control"
          ngModel name="secret" required>
          <option value="pet" selected>Your first Pet?</option>
          <option value="teatcher">Your first school teatcher?</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    </form>
  </div>
</div>
