<div class="container">
  <div class="row">
    <form [formGroup]="singnUpForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" formControlName="username">
          <small class="form-text text-muted" *ngIf="!singnUpForm.get('userData.username').valid && singnUpForm.get('userData.username').touched">Please enter a valid user name</small>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text" class="form-control" id="email" formControlName="email">
          <small class="form-text text-muted" *ngIf="!singnUpForm.get('userData.email').valid && singnUpForm.get('userData.email').touched">Please enter a valid email</small>
        </div>
      </div>
      <div class="form-check-inline" *ngFor="let gender of genders">
        <input class="form-check-input" type="radio" id="gender" [value]="gender" formControlName="gender">
        <label class="form-check-label" for="gender">
          {{ gender }}
        </label>
      </div>
      <div formArrayName="hobbies">
        <h4>Your Hobbies:</h4>
        <button type="button" class="btn btn-warning" (click)="onAddHobbies()">Add Hobby</button>
        <div class="form-group" *ngFor="let hobby of singnUpForm.get('hobbies').controls; let i = index">
          <input type="text" class="form-control" [formControlName]="i">
        </div>
      </div>
      <small class="form-text text-muted" *ngIf="!singnUpForm.valid && singnUpForm.touched">Fill all above data</small>
      <hr>
      <div class="row">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" style="margin-left: 10px;" (click)="onClearForm()">Clear Form</button>
      </div>
    </form>
  </div>
</div>
